/*Custom css*/
li{list-style: none;}
.regpending .clr , .clr{clear: both;}
.result:after,  .noteBox:after , .clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
* html .clearfix { height: 1%; }
a:hover ,a:focus{outline: none}
input{  font-family:'ubuntuReg';}
/* Search Panel*/
.centralize.searchPanel{height: 41px;background: #ededed;border:1px solid #e6e6e6;margin-top: 20px;border-radius: 7px}
.centralize.searchPanel div{padding: 0px}
.centralize.searchPanel .searcati{padding: 7px 9px;background: #fff;border-radius: 7px 0 0 7px;width: 52px;border-right: 1px solid #e6e6e6;cursor: pointer;position: relative;}
.centralize.searchPanel .searcati:hover{box-shadow: 0px 0px 7px #d5d2d2 inset}
.searchIconbtn{width:40px;}
.searchBTN{background:url(../images/searchIcon.png) no-repeat center;border:none;height: 22px;width: 22px;padding: 20px}
.searchBox{background:none;font-size: 16px;color: #79777a;padding: 9px ;border:none;border-radius: 0px;height: 39px}
.searchBox:focus{box-shadow: none}
.searchlink{background: #f2f2f2;width: 275px;margin-left: 87px;position: absolute;z-index: 1;display: none}
.searchlink ul{padding: 5px 10px;margin: 0px}
.searchlink ul li{list-style-type: none;}
.searchlink ul li a{font-size: 14px;color: #79777a;border-bottom: 1px solid #898989;display: block;padding: 12px 0 12px 4px}
.searchlink ul li a span{padding-right: 10px}
.searchlink ul li:last-child a{border-bottom: none}
.searchlink ul li a:hover{background: #38bb95;color: #fff;text-decoration: none}
/* Search Panel*/

img{max-width: 100%}/*12-1-2014*/


.logo img{max-width: 100%}.pdding0{padding:0px;word-break: break-word;}
.centralize{float: none;margin: 0 auto}
.centralize h3{text-align: center;margin: 50px 0 25px}
.mainWidth{width: 990px;margin: 0 auto}
header{background: #f4f4f4;padding: 15px 0}
.headlink{top:30px;padding-right: 0px}
.headlink ul{float: right;margin: 0px;padding: 0px}
.headlink ul li{float: left;list-style: none;padding: 0 0 0 8px}
.headlink ul li a{color: #5a5a5a;text-align: right;}
.mainWidthmin{width: 560px;margin: 0 auto}
.greenborder{border-bottom: 9px solid #38bb95}
.banner{background:url(../images/bannerImg.jpg) center;min-height: 427px;background-size:cover;position: relative;}
.banner .action{width: 400px;margin: auto;position: absolute;left:0;right:0;bottom: 55px}
.banner h1{margin: 0px;padding: 0px}
.banner h1 img{margin: 0 auto;display: block;}
.banner p a{color: #fff;background:url(../images/iconIN.png) no-repeat 22px 10px #0086b6;font-size: 21px;font-family: 'proxima_novasemibold';display: block;;border-radius: 6px;box-shadow: 3px 5px 0px #1c4655;padding: 11px 0;margin-top: 4px;text-align: center;transition: .3s linear;}
.banner p a:hover{text-decoration: none;background-color: #02729a;text-shadow: -1px 1px 0 #333;text-indent: 3px}
.mT60{margin-top: 90px}
.mT60 img{display: block;margin: 0 auto}
.mainWidthmin{color: #474646}
.mainWidthmin h2{margin: 0px;padding: 0px 0 16px;font-size: 33px;line-height: .7}
.mainWidthmin p{font-size: 15px}
.nav ul{text-align: center;padding: 20px 0 10px}
.nav div{padding: 20px 0 10px;}
.nav ul li{display: inline-block;list-style: none;width: 15%;margin: 0 2%;transition: border .2s;position: relative;border-bottom: 6px solid transparent;}
.nav ul li a{font-size: 16px;color: #5a5a5a}
.nav ul li a img{display: block;margin: 0 auto}
.nav ul li:hover{border-bottom: 5px solid #38bb95;}
.nav ul li a:hover{ font-family: 'Ubuntubold';font-size: 16px;text-decoration: none}
.greenBg{background-color: #effdf9}
.ldprofile{padding: 20px 0 10px}
.linkdinIcon{position: absolute;bottom: 5px;right: 9px}
.rank{font-size: 16px;font-family: 'Ubuntubold';color: #fff;background-color: #38bb95;position: absolute;height: 40px;width: 40px;border-radius: 20px;border:3px solid #fff;padding: 4px 0;text-align: center;right: -11px;top:-22px;}
.profileDeatils h2{color:#38bb95 ;font-size: 22px;padding-top: 20px}
.profileDeatils p{margin: 0px}
.round p{font-size: 16px;text-align: center;padding-top: 6px;color: #525151}
span.dottedRound{height: 76px;width: 76px;border:5px dashed #aee0ee;display: block;border-radius: 50%;color: #5a5a5a;font-size: 24px;font-family: 'Ubuntubold';text-align: center;padding: 14px 0;margin:38px auto 0}
span.dottedRound.orangeBorder{border-color:#f2e9cf}
.registrFrm{background-color: #f4f4f4;padding: 20px 15px}
.registrFrm h6{font-size: 12px;text-align: center;margin: 0}
.frmBox{width: 400px;margin: 30px auto}
.sendnoteBox{width: 490px;margin: 0 auto}
.frmBox .form-control{width: 82%}
.select .form-control{width: 100%}
span.pointer{background:url(../images/pointer.png) #fff no-repeat 70% center;position: absolute;right: 1px;top:1px;height: 28px;width: 34px;pointer-events:none;border-radius: 0 3px 3px 0}
span.complrsy{vertical-align: top;color: #cb0e0e}
.frmBox textarea.form-control{display: inline;width: 85%}
.dpcontainer{position: relative;}
.dpcontainerprofile{position: relative;float: left;}
.viewprofile{font-size: 16px;background-color: #f6ad44;border-color: #f8c273;padding: 4px 11px;height: 37px;margin:10px 10px 0 0}
.viewprofile span{margin-right: 6px;position: relative;top: 3px}
.bgw{background-color: #fff}
.fullcircle{height: 152px;width: 152px;border-radius: 50%;background-color: #f6f6f6;border:2px solid #38bb95;position: relative;}
/*.fullcircle img{margin: auto;position: absolute;left:0;right: 0;top:0;bottom: 0}*/
.fullcircle img{margin:auto;padding-top: 34px;display: block;}
.linksection{margin: 100px 0 10px}
.linkinfo h2{font-size: 26px;color: #c1c1c1;margin-bottom: 0px}
.linkinfo p{font-size:16px;color:#525151;margin-bottom: 5px}
.linkinfo h2 span{color: #38bb95;}
.linkinfo .btn{border-width:3px}
.linkinfo .btn-success{height: 37px;margin: 0;width: 190px;}
.btn-success.btnicon{background: url(../images/icon002w.png) no-repeat 10px center #38bb95;text-align: left;padding-left: 50px}
.btn-success.btnicon.intro{background: url(../images/icon004w.png) no-repeat 10px center #38bb95}
.btn-success.btnicon.events{background: url(../images/icon001w.png) no-repeat 10px center #38bb95;}
.btn-success.btnicon.meeting{background: url(../images/icon003w.png) no-repeat 10px center #38bb95;}
.profilepage{margin-top: 10px}
.profilepage .profileDeatils h2{margin: 0px 0 16px;padding-top: 0px}
.backlink a{border:1px solid #949494;color: #949494;font-size: 16px;border-radius: 3px;padding: 0 4px 3px;background: #fff}
.backlink span{color: #38bb95}
.backlink a:hover{text-decoration:none;background: #ededed;color: #555}
.backlink.requestlink{margin-top: 10px}
.backlink.requestlink a{color: #f97046;border-color: #f97046}
.backlink.requestlink a:hover{background:#fff0eb}
p.paddingTB{color: #5a5a5a;padding: 25px 0}
.skill p{color: #626262;font-size: 16px;margin: 8px 0}
ul.tag  , .skill ul{;margin: 0px;padding: 0px}
ul.tag li , .skill ul li{display: inline-block;background: #ebebeb;color: #5a5a5a;height: 30px;padding: 4px 10px;border-radius: 4px;margin: 2px 1px 2px 0;position: relative;}
ul.checkBoxtag li label{display: block;padding: 4px 5px;margin: 0px;position: relative;top:-5px;}
ul.checkBoxtag li input[type="checkbox"]{ height: 20px;left: 0px;position: absolute; width: 100%; z-index: 1;top:1px;opacity: 0;cursor: pointer;}
ul.tag li.darkBg , .darkBg{background: #aeaeae !important}
.skill ul li a{}
.lineColom{border-top: 1px solid #777676;padding-bottom: 10px;}
.lineColom h3{color: #525151;font-size: 18px;text-align: left;margin: 13px 0 8px}
.lineColom p{color:#5a5a5a }
.centertxt p ,.centertxt{color:#5a5a5a !important;text-align: center;}
.crylink , .editcolom{padding-top: 12px}
.eventsCol{border-top: 1px solid #777676;border-bottom: 1px solid #777676;margin-top: 50px;padding: 20px 0}
.eventsCol ul{padding: 0px}
.eventsCol ul li{list-style: none;margin-bottom: 40px}
.eventsCol.noEdit ul li{margin-bottom: 0px}
.eventsCol ul li h4{font-size: 18px;color: #525151;margin: 0 0 25px}
.borderPic h4 , .tabtxt h4 , .eventsCol ul li h5{font-size: 16px;color: #38bb95}
.borderPic h4{text-align: center;}
.borderPic p{text-align: center;font-size: 13px;margin-top: -8px}
.tabtxt p , .eventsCol ul li p{color: #5a5a5a}
.eventsCol ul li .action ul {float: right;}
.eventsCol ul li .action ul li:first-child{font-size: 18px}
.eventsCol ul li .action ul li ,.action ul li{float: left;font-size: 14px;color: #5a5a5a;margin:10px 0 0 15px}
.eventsCol ul li .action ul li span ,.action ul li span{font-size: 20px;position: relative;top:3px}
.action.sendAction ul{text-align: center;float: none;margin:0;padding:0 0 20px}
.action.sendAction ul li{display: inline-block;float: none;margin: 0px;padding: 0 15px}
.action.sendAction ul li span{padding-right: 6px}
hr.darkLine{border-top: 1px solid #898989;height: 1px}
.tabbed{margin: 20px 0 0;float: left;width: 100%}
.sendnoteBox .thumbs img,.sendnoteBox .borderPic img{margin: 0 auto;display: block;}
.sendnoteBox .thumbs{padding-top: 30px}
.sendnoteBox ul.tag li{background:#dcdcdc;position: relative;}
.sendnoteBox h2{color: #5a5a5a;text-align: center;font-size: 20px;margin:0 0 20px}
.borderPic img{border:1px solid #c5c5c5;/*padding: 10px;*/background: #fff;height: 100px;width:100px}
.trail{padding: 6px 4px 2px}
.trail .action p:first-child{color: #1a91c1;}
.trail .action p{display: inline-block;font-size: 15px;color: #38bb95;padding: 0 0 0 10px}
.trail .action p span{color: #333;position: relative;top:4px;padding-left: 10px}
.trail.send{background: #f6f6f6}
.borderPic ul{padding: 4px 0 0;margin: 0}
.borderPic ul li{list-style: none;display: inline;width: auto;}
.borderPic ul li img{height: 21px;width: 21px;padding: 0;border:none;}
.borderPic ul li span{font-size: 13px;color: #5d5d5d;border-radius: 3px;border:1px solid #ccc;min-width: 40px;display: inline-block;text-align: center;padding: 0 2px;position: relative;top:2px;margin-left: 4px;background: #fff}
.borderPic ul li span:before{bottom: 1px;left: -8px;content: "";position: absolute;border-bottom: 8px solid transparent;border-right: 8px solid #ccc;border-top: 8px solid transparent;}
.borderPic ul li span:after{bottom: 3px;left: -5px;content: ""; position: absolute;border-bottom: 6px solid transparent;border-right: 5px solid #fff;border-top: 6px solid transparent;}
.sendReqBTN{;margin-bottom: 10px}
.sendReqBTN .btn-warning.btnicon{background: url(../images/icon002w.png) no-repeat 10px center #e89607;border-color: #e4a942;}
.sendReqBTN .btn{width: 170px;padding: 4px 8px 4px 0;text-align: right}
.mobMenu{display:none;padding: 5px;cursor: pointer;}
.mobMenu img{background:#ededed;display: block;padding: 5px;border-radius: 2px}
.mobMenu:hover img{background: #626262}
/*Karma Notes*/
.noteboxContainer{width: 250px;margin-bottom: 30px}
.noteboxContainer.FR{float: right;}
.noteBox{border:1px solid #c5c5c5;padding: 10px;clear: left;background: #fff;min-height: 140px;}
.noteBox div{padding: 0px}
.noteBox div p{font-size: 12px}
.noteBox h4{margin: 0px 0 5px}
.noteBox .borderPic ul{float: right;padding-top: 0px}
.note .btn{  float: right;font-size: 14px;margin:6px 0 0;width: 171px;height: 35px}
.recive .btn{height: 27px !important;padding: 0px 18px;width: auto;float: none}
.btn.toggleBtn{color: #e5983d;border:1px solid #e5983d;background: none;float: left;}
.btn.toggleBtn.visible{color:#f09428 ;border-color: #f09428}
.btn.toggleBtn.accept{color: #38bb95;border-color:#38bb95;}
.btn.toggleBtn.pending{color: rgb(158, 51, 51);border-color: rgb(158, 51, 51);}
.btn.toggleBtn.completed{color:#1a91c1;border-color:#1a91c1;}
.btn.smlGrnbtn{float: right;border:none;background: #1cbbb4}
.sendnotes{margin-top: 40px}
.notetxt{margin: 10px 0}
.fullIcon{color: #626262;font-size: 25px;padding-top: 2px}
.mRL15{margin:0 15px}
.margin-bot20{margin-bottom: 20px;height: 30px}
.margin-bot20 p{font-size: 15px;color: #5a5a5a}
.margin-bot20 .select p , .margin-bot20 span.glyphicon {text-align: right;display: block;padding-right: 10px}
.introducerIcon{margin: 7px 0 13px}
.connectKarma .noteBox {clear: none;width: 48.3%}
.connectKarma .noteBox:nth-child(2n+1) {margin-right: 10px;}
.connectKarma .noteBox:nth-child(2n+2) {margin-left: 10px;}
.sendnoteBox h2{line-height: 25px}
p.grayColor{color: #5a5a5a;word-break: break-word;}
ul.iconList{color: #5a5a5a;margin-top: 28px}

ul.iconList li{background: url(../images/ok.png) no-repeat left center;padding:3px 0 5px 20px;}
ul.iconList.iconListNO{padding-left: 50px}
ul.iconList.iconListNO li{background: none;padding: 3px 0}
ul.iconList.iconListNO li input{margin-right: 10px}
.action.fullWidth ul{float: none;text-align: center;margin: 55px 0 50px;padding: 0px}
.action.fullWidth ul li{float: none;display: inline-block;margin: 0px;width: 23%;text-align: left;}
.action.fullWidth ul li:last-child{width:48%}
.action.fullWidth ul li span{font-size: 24px;top:6px;padding-right: 5px;color: #626262}/* 11/26/2014*/
.centralize h3.skype{margin: 0px;font-size: 18px;color: #5a5a5a}
.skype{color:#5a5a5a}
.skype h4{font-family: "Ubuntubold";padding-right: 25px}
.skype {padding: 0}
.skype h4 ,.skype p{display: inline-block;}
.mailID p , .skype p{font-size: 18px;color:#5a5a5a;display: inline-block;}
.mailID{text-align: right;}
.mailID span{color: #626262;font-size: 23px;top:6px;padding-right: 5px}
.mb65{margin-bottom: 65px}
.meeting .smlGrnbtn{font-size: 12px}
.meeting .btn.smlGrnbtn{padding: 0 4px}
.meeting .btn.toggleBtn{padding: 0 4px;cursor: default;}
.regpending div{clear: none}
.meetingimg img{padding-top: 50px;margin: 0 auto;display: block;}
.redPendingtxt{color: #ff0000;font-size:18px;text-align: center;padding: 10px 0 0}
.redPendingtxt.yeltxt{color: #e5983d}
.redPendingtxt.bluetxt{color: #017fb2;padding-top: 80px}
.redPendingtxt.grntxt{color:#38bb95}
.minBtn{margin-top: 25px}
.minBtn p{color: #6ca7ea;text-align: center;}
.meetingFrm{margin-top: 10px}
.meetingFrm .control-label{font-size: 18px;color: #5a5a5a;padding-top: 3px}
.form-control.fixH35{height: 35px}
.borderPic.midicondetails{width: 95px;margin: 0 auto}
.borderPic.midicondetails img{display: inline-block;}
.borderPic.midicondetails ul{padding: 0 0 10px}
.removeStyle{border:none;background: none;padding: 20px 0 0}
.select.pdding0 .smltxt{padding: 0 0 6px;margin: 0px;text-align: left;font-size: 13px;margin-top:-21px}
.centertxt.smltxt{font-size: 13px !important;padding: 20px 0 40px;margin: 0}
.smltxt.paddingL175{padding-left: 175px;color: #5a5a5a}
.searchresult{width: 625px;margin:0 auto}
.searchresult .noteBox {margin-bottom: 6px}
.searchresult .btn{width: 100%;margin-bottom: 6px}
.result{margin-top: 55px}
.loadMore span{background:#eaeaea;font-size:17px;color: #434343;padding: 10px 0;width: 200px;display: block;text-align: center;margin: 100px auto 0;border-radius: 3px;cursor: pointer;}
.mobMenu a{display: none}
.scheduleBtn .btn{padding: 3px 10px;margin: 12px 0 0}
.eventsCol.ownEvents{border:none;margin: 0px}
h1.fullheading{font-size: 26px;text-align: center;color: #565656;margin: 10px 0 45px}
.infoFrm .select p{text-align: left;font-size: 14px}
.infoFrm{padding-top: 20px}
.borderContainer{padding: 10px;border:1px solid #a7a7a7;margin-top: 65px}
.fixWidth270{width: 270px}
.fixWidth233{width: 233px;margin-top: 50px}
.fixWidth233 .btn.toggleBtn{float: none;margin: 0 auto;display: block;}

footer.col-sm-12{position: unset}
footer{padding: 90px 0 20px}
footer p , footer ul{text-align: center;font-size: 13px;margin: 0px;padding: 0px}
footer p{padding-top: 10px}
footer ul li{display: inline-block;}
footer ul li a{color: #474646;font-size: 14px;padding: 0 6px}

 .error{display: inline-block;max-width: 100%;margin-bottom: 5px;padding-left: 5px;color:rgb(213, 38, 38);}
 .errordetail{display: inline-block;max-width: 100%;margin-bottom: 5px;padding-left: 5px;color:rgb(213, 38, 38);}
.meetingPic img{border: 1px solid #c5c5c5;background: #fff;height: 87px;width: 82px;}
.errorPage {margin-top:5%;text-align:center}
.errorText{margin-top:2%;}
.errorText a{font-size:22px;}
.errorText p{color:#474646;font-size:22px;}
#searchresult{ background: none repeat scroll 0 0 #ededed;left: 50px;position: absolute; top: 40px;z-index: 32;max-height: 400px;overflow: auto;width: 94%;border: 1px solid #e6e6e6;}
#searchresult ul{padding-left: 5px;padding-top: 5px;}
#searchresult ul li{margin-bottom: 10px; cursor: pointer;}
#searchresult ul li:hover{background: #e5e5e5}
#searchresult ul li p{font-size:13px;font-weight: bold;margin-bottom: 4px;line-height: 17px}
#searchresult ul li p strong{color: #818181}
#searchresult ul li p img{height: 15px ;width: 15px;float: none;position: relative;top:0px;}
#searchresult ul li span{display: block;font-size: 12px;color: #818181} 
#searchresult ul li img{height: 30px;width: 30px;float: left;margin-right: 5px;position: relative;top:5px;}
.displayNone{display: none;}


/*new css 6-nov-2014*/
.searchresult.borderColom{width: 725px}
.searchresult.borderColom .result{background-color: #f4f4f4;border:1px solid #a2a2a2;padding: 15px 50px}
/*new css 7-nov-2014*/
h3.homeHeading{color:#757374;font-style: italic;;max-width: 65%;margin: 25px auto 0;text-align: center;}
/*new css 11-nov-2014*/
.caseTxt p{font-size: 15px;color: #333;padding-bottom: 5px}
.rank.fullSize{border-radius: 50%;width: 55px;height: 55px;right: 15px;top:47px;border-color: #e8e8e6;font-size: 17px;;padding-top: 12px}
p.paddingB10{padding: 0 0 10px}
.bottom35{bottom: 35px}
.col-sm-12.pdding0.caseTxt.clearfix strong , .col-sm-12.pdding0.caseTxt.clearfix a{padding-left: 100px;text-align: right;width: 100%}

.col-sm-12.profileDeatils{margin-top: 10px}
.paddingB10.minheight60{min-height: 60px}

.col-sm-12.pdding0.caseTxt.clearfix strong , .col-sm-12.pdding0.caseTxt.clearfix a{padding-left: 100px;text-align: right;width: 100%}
.col-xs-1.searcati .glyphicon{font-size: 20px;color: #38bb95}
.col-xs-1.searcati i.glyphicon.glyphicon-chevron-down{position: absolute;font-size: 10px;right: 8px;top:16px;}
.bottomborder{border-bottom: 5px solid #38bb95 !important;}
.col-sm-5.col-xs-12.noteBox.tabtxt .col-sm-8.col-xs-12 p{margin-bottom: 6px}
/*new css 17-nov-2014*/
.rank_notification{font-size: 12px;font-family: 'Ubuntubold';color: #fff;background-color: #38bb95;position: absolute;height: 25px;width: 25px;border-radius: 20px;border: 3px solid #fff;padding: 1px 1px;text-align: center;right: 24px;top: -12px;}
/*new css 18-nov-2014*/
.dashboardOption{margin-top: 6%;margin-bottom: 10%;}
.adminsearchUI{height: 30px;padding: 0px 6px;font-size: 14px;line-height: 1.42857143;color: #555;background-color: #fff;background-image: none;border: 1px solid #b4b4b4;border-radius: 4px;}
